.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 564px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 564px}
.u-section-1 .u-container-layout-1 {padding: 40px 60px}
.u-section-1 .u-text-1 {font-size: 3rem; margin: 109px 0 0}
.u-section-1 .u-line-1 {width: 382px; transform-origin: left center 0; height: 1px; margin: 21px auto 0 0}
.u-section-1 .u-text-2 {margin: 15px 0 0}
.u-section-1 .u-link-1 {font-weight: 700; margin: 37px auto 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 564px}
.u-section-1 .u-container-layout-2 {padding-right: 15px; padding-left: 15px; padding-bottom: 30px}
.u-section-1 .u-image-1 {height: 475px; margin: 0 auto 0 0}
.u-section-1 .u-text-3 {margin-top: 30px; margin-bottom: 0}
.u-section-1 .u-btn-1 {padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 465px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 465px}
.u-section-1 .u-line-1 {width: 350px}
.u-section-1 .u-layout-cell-2 {min-height: 465px}
.u-section-1 .u-image-1 {height: 392px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 356px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-size: 2.25rem}
.u-section-1 .u-line-1 {width: 300px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {height: 300px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 267px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-line-1 {width: 504px}
.u-section-1 .u-container-layout-2 {padding-right: 10px; padding-left: 10px}
.u-section-1 .u-image-1 {height: 450px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 168px}
.u-section-1 .u-line-1 {width: 320px}
.u-section-1 .u-image-1 {height: 283px; margin-right: initial; margin-left: initial} }.u-section-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/504b66d39334889977bdeed0714a7c66.jpeg"); background-position: 50% 50%}
.u-section-2 .u-shape-1 {width: 720px; left: 0; right: auto}
.u-section-2 .u-sheet-1 {min-height: 651px; position: relative; margin: 0 auto}
.u-section-2 .u-layout-wrap-1 {margin: 59px auto 59px 0}
.u-section-2 .u-layout-cell-1 {min-height: 534px}
.u-section-2 .u-text-1 {margin: 55px 20px 0}
.u-section-2 .u-line-1 {width: 43px; position: relative; transform-origin: left center 0; margin: 30px auto 0 20px}
.u-section-2 .u-text-2 {margin: 30px 20px 0}
.u-section-2 .u-btn-1 {margin: 30px auto 55px 20px}
.u-section-2 .u-layout-cell-2 {min-height: 267px}
.u-section-2 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-2 .u-icon-1 {height: 56px; width: 56px; margin: 0 auto}
.u-section-2 .u-text-3 {margin: 20px 20px 0}
.u-section-2 .u-text-4 {font-style: italic; margin: 20px 20px 0}
.u-section-2 .u-layout-cell-3 {min-height: 267px; background-image: none}
.u-section-2 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-2 .u-icon-2 {height: 56px; width: 56px; margin: 51px auto 0}
.u-section-2 .u-text-5 {margin: 15px 20px 0}
.u-section-2 .u-text-6 {font-style: italic; margin: 10px 20px 0}
.u-section-2 .u-layout-cell-4 {min-height: 267px; background-image: none}
.u-section-2 .u-container-layout-4 {padding-left: 0; padding-right: 0}
.u-section-2 .u-icon-3 {height: 56px; width: 56px; margin: 37px auto 0}
.u-section-2 .u-text-7 {margin: 20px 20px 0}
.u-section-2 .u-text-8 {font-style: italic; margin: 20px 20px 0}
.u-section-2 .u-layout-cell-5 {min-height: 267px; background-image: none}
.u-section-2 .u-container-layout-5 {padding-left: 0; padding-right: 0}
.u-section-2 .u-icon-4 {height: 56px; width: 56px; margin: 25px auto 0}
.u-section-2 .u-text-9 {margin: 20px 20px 0}
.u-section-2 .u-text-10 {font-style: italic; margin: 20px 20px 25px} 

@media (max-width: 1199px){ .u-section-2 .u-shape-1 {width: 594px}
.u-section-2 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-line-1 {width: 35px; margin-left: 16px}
.u-section-2 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-btn-1 {position: relative; margin-left: 16px}
.u-section-2 .u-icon-1 {height: 46px; width: 46px; position: relative}
.u-section-2 .u-text-3 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-text-4 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-icon-2 {height: 46px; width: 46px; position: relative}
.u-section-2 .u-text-5 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-text-6 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-icon-3 {height: 46px; width: 46px; position: relative}
.u-section-2 .u-text-7 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-text-8 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-icon-4 {height: 46px; width: 46px; position: relative}
.u-section-2 .u-text-9 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-text-10 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-2 .u-shape-1 {width: 455px}
.u-section-2 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-line-1 {width: 27px; margin-left: 13px}
.u-section-2 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-btn-1 {margin-left: 13px}
.u-section-2 .u-icon-1 {height: 35px; width: 35px}
.u-section-2 .u-text-3 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-4 {margin-left: 12px; margin-right: 12px}
.u-section-2 .u-icon-2 {height: 35px; width: 35px}
.u-section-2 .u-text-5 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-6 {margin-left: 12px; margin-right: 12px}
.u-section-2 .u-icon-3 {height: 35px; width: 35px}
.u-section-2 .u-text-7 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-8 {margin-left: 12px; margin-right: 12px}
.u-section-2 .u-icon-4 {height: 35px; width: 35px}
.u-section-2 .u-text-9 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-10 {margin-left: 12px; margin-right: 12px} }

@media (max-width: 767px){ .u-section-2 .u-shape-1 {width: 426px}
.u-section-2 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-line-1 {width: 25px; margin-left: 9px}
.u-section-2 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-btn-1 {margin-left: 9px}
.u-section-2 .u-icon-1 {height: 33px; width: 33px}
.u-section-2 .u-text-3 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-text-4 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-icon-2 {height: 33px; width: 33px}
.u-section-2 .u-text-5 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-text-6 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-icon-3 {height: 33px; width: 33px}
.u-section-2 .u-text-7 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-text-8 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-icon-4 {height: 33px; width: 33px}
.u-section-2 .u-text-9 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-text-10 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-2 .u-shape-1 {width: 340px}
.u-section-2 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-line-1 {width: 21px; margin-left: 6px}
.u-section-2 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-btn-1 {margin-left: 6px}
.u-section-2 .u-icon-1 {height: 28px; width: 28px}
.u-section-2 .u-text-3 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-4 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-icon-2 {height: 28px; width: 28px}
.u-section-2 .u-text-5 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-6 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-icon-3 {height: 28px; width: 28px}
.u-section-2 .u-text-7 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-8 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-icon-4 {height: 28px; width: 28px}
.u-section-2 .u-text-9 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-10 {margin-left: 6px; margin-right: 6px} }.u-section-3 .u-sheet-1 {min-height: 722px}
.u-section-3 .u-shape-1 {height: 642px; width: 485px; margin: 40px 0 0 auto}
.u-section-3 .u-group-1 {width: 557px; min-height: 393px; margin: -541px auto 0 0}
.u-section-3 .u-text-1 {margin: 76px 20px 0}
.u-section-3 .u-line-1 {width: 41px; position: relative; transform-origin: left center 0; margin: 30px auto 0 20px}
.u-section-3 .u-text-2 {margin: 20px 20px 0}
.u-section-3 .u-btn-1 {margin: 30px auto 0 20px}
.u-section-3 .u-btn-2 {margin: -42px 184px 0 auto}
.u-section-3 .u-layout-wrap-1 {width: 636px; margin: -446px 0 48px auto}
.u-section-3 .u-layout-cell-1 {min-height: 261px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-3 {font-size: 1.25rem; margin: 20px 13px 0}
.u-section-3 .u-text-4 {margin-left: 0; margin-top: 20px; font-style: italic; margin-bottom: 0}
.u-section-3 .u-layout-cell-2 {min-height: 261px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-2 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-5 {font-size: 1.25rem; margin: 20px auto 0 24px}
.u-section-3 .u-text-6 {font-style: italic; margin: 20px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 223px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-icon-3 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-7 {font-size: 1.25rem; margin: 10px 10px 0}
.u-section-3 .u-text-8 {font-style: italic; margin: 13px 0 0}
.u-section-3 .u-layout-cell-4 {min-height: 223px; background-image: none}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-icon-4 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-9 {font-size: 1.25rem; margin: 10px 0 0}
.u-section-3 .u-text-10 {font-style: italic; margin: 13px auto 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 555px}
.u-section-3 .u-shape-1 {position: relative; width: 400px; margin-left: 540px}
.u-section-3 .u-group-1 {width: 459px; position: relative}
.u-section-3 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-line-1 {width: 33px; margin-left: 16px}
.u-section-3 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-btn-1 {position: relative; margin-left: 16px}
.u-section-3 .u-layout-wrap-1 {position: relative} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 824px}
.u-section-3 .u-shape-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-group-1 {width: 352px}
.u-section-3 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-line-1 {width: 26px; margin-left: 13px}
.u-section-3 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-btn-1 {margin-left: 13px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 713px}
.u-section-3 .u-group-1 {width: 330px}
.u-section-3 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-line-1 {width: 24px; margin-left: 9px}
.u-section-3 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-btn-1 {margin-left: 9px}
.u-section-3 .u-btn-2 {margin-right: 167px}
.u-section-3 .u-layout-wrap-1 {width: 540px; margin-bottom: 0}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 636px}
.u-section-3 .u-shape-1 {width: 145px; margin-left: 195px; margin-right: 0}
.u-section-3 .u-group-1 {width: 277px}
.u-section-3 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-line-1 {width: 20px; margin-left: 6px}
.u-section-3 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-btn-1 {margin-left: 6px}
.u-section-3 .u-btn-2 {margin-right: 0}
.u-section-3 .u-layout-wrap-1 {width: 340px} }.u-section-4 {background-image: linear-gradient(0deg, rgba(44,41,51,0.6), rgba(44,41,51,0.6)), url("images/57e2dd434f51ab14f6da8c7dda793678153bdee757596c48732f79dc9f4cc550bf_12801.jpg"); background-position: 50% 50%}
.u-section-4 .u-sheet-1 {min-height: 612px}
.u-section-4 .u-layout-wrap-1 {margin: 37px auto 37px 0}
.u-section-4 .u-layout-cell-1 {background-image: none; min-height: 565px}
.u-section-4 .u-container-layout-1 {padding-left: 20px}
.u-section-4 .u-text-1 {margin: 108px 20px 0 0}
.u-section-4 .u-line-1 {width: 43px; position: relative; transform-origin: left center 0; margin: 30px auto 0 0}
.u-section-4 .u-text-2 {margin: 30px 20px 0 0}
.u-section-4 .u-btn-1 {margin: 30px auto 0 87px}
.u-section-4 .u-btn-2 {margin: -42px 108px 0 auto}
.u-section-4 .u-text-3 {margin: 138px 7px 0 0}
.u-section-4 .u-image-1 {background-image: url("images/lol.png"); min-height: 283px; background-position: 50% 50%}
.u-section-4 .u-image-2 {min-height: 283px; background-image: url("images/AffinityDiagram.jpg"); background-position: 36.2% 0%; background-size: auto 185%}
.u-section-4 .u-image-3 {min-height: 283px; background-image: url("images/SKETCHESLABELED.png"); background-position: 4.91% 50%}
.u-section-4 .u-image-4 {min-height: 283px; background-image: url("images/lol1.png"); background-position: 100% 11.58%} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 16px}
.u-section-4 .u-text-1 {position: relative; margin-right: 16px}
.u-section-4 .u-line-1 {width: 35px}
.u-section-4 .u-text-2 {position: relative; margin-right: 16px}
.u-section-4 .u-btn-1 {position: relative; margin-left: 0}
.u-section-4 .u-btn-2 {margin-right: 8px}
.u-section-4 .u-text-3 {position: relative; margin-right: 6px}
.u-section-4 .u-image-2 {background-position: 50% 50%}
.u-section-4 .u-image-4 {background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-4 .u-container-layout-1 {padding-left: 13px}
.u-section-4 .u-text-1 {margin-right: 13px}
.u-section-4 .u-line-1 {width: 27px}
.u-section-4 .u-text-2 {margin-right: 13px}
.u-section-4 .u-text-3 {margin-right: 4px} }

@media (max-width: 767px){ .u-section-4 .u-container-layout-1 {padding-left: 9px}
.u-section-4 .u-text-1 {margin-right: 9px}
.u-section-4 .u-line-1 {width: 25px}
.u-section-4 .u-text-2 {margin-right: 9px}
.u-section-4 .u-btn-2 {margin-right: 0}
.u-section-4 .u-text-3 {margin-right: 3px} }

@media (max-width: 575px){ .u-section-4 .u-container-layout-1 {padding-left: 6px}
.u-section-4 .u-text-1 {margin-right: 6px}
.u-section-4 .u-line-1 {width: 21px}
.u-section-4 .u-text-2 {margin-right: 6px}
.u-section-4 .u-text-3 {margin-right: 2px} }.u-section-5 .u-sheet-1 {min-height: 671px}
.u-section-5 .u-layout-wrap-1 {margin: 88px 0 65px auto}
.u-section-5 .u-image-1 {min-height: 276px; background-image: url("images/nav.png"); background-position: 0% 50%}
.u-section-5 .u-image-2 {min-height: 276px; background-image: url("images/bud.png"); background-position: 50% 35.94%}
.u-section-5 .u-image-3 {min-height: 276px; background-image: url("images/shoppinglist.png"); background-position: 50% 0%}
.u-section-5 .u-image-4 {min-height: 276px; background-image: url("images/template.png"); background-position: 50% 30.09%}
.u-section-5 .u-layout-cell-5 {min-height: 552px; background-image: none}
.u-section-5 .u-container-layout-5 {padding-left: 30px}
.u-section-5 .u-text-1 {margin: 138px 30px 0 0}
.u-section-5 .u-line-1 {width: 35px; position: relative; transform-origin: left center 0; margin: 29px auto 0 0}
.u-section-5 .u-text-2 {margin: 22px 30px 0 0}
.u-section-5 .u-btn-1 {margin: 48px 88px 0 auto}
.u-section-5 .u-btn-2 {margin: -42px auto 0 88px}
.u-section-5 .u-text-3 {margin: 129px 30px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-layout-wrap-1 {position: relative; margin-right: 0; margin-left: auto}
.u-section-5 .u-container-layout-5 {padding-left: 16px}
.u-section-5 .u-text-1 {position: relative; margin-right: 25px}
.u-section-5 .u-line-1 {width: 29px}
.u-section-5 .u-text-2 {position: relative; margin-right: 25px}
.u-section-5 .u-btn-1 {position: relative; margin-right: 0; width: 122px}
.u-section-5 .u-btn-2 {margin-left: 0}
.u-section-5 .u-text-3 {position: relative; margin-right: 25px} }

@media (max-width: 991px){ .u-section-5 .u-container-layout-5 {padding-left: 13px}
.u-section-5 .u-text-1 {margin-right: 19px}
.u-section-5 .u-line-1 {width: 22px}
.u-section-5 .u-text-2 {margin-right: 19px}
.u-section-5 .u-btn-1 {width: 93px}
.u-section-5 .u-text-3 {margin-right: 19px} }

@media (max-width: 767px){ .u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 235px}
.u-section-5 .u-image-2 {min-height: 235px}
.u-section-5 .u-image-3 {min-height: 200px}
.u-section-5 .u-image-4 {min-height: 200px}
.u-section-5 .u-layout-cell-5 {min-height: 330px}
.u-section-5 .u-container-layout-5 {padding-left: 9px}
.u-section-5 .u-text-1 {margin-right: 14px}
.u-section-5 .u-line-1 {width: 21px}
.u-section-5 .u-text-2 {margin-right: 14px}
.u-section-5 .u-btn-1 {width: 88px}
.u-section-5 .u-text-3 {margin-right: 14px} }

@media (max-width: 575px){ .u-section-5 .u-image-2 {min-height: 242px}
.u-section-5 .u-layout-cell-5 {min-height: 323px}
.u-section-5 .u-container-layout-5 {padding-left: 6px}
.u-section-5 .u-text-1 {margin-right: 9px}
.u-section-5 .u-line-1 {width: 17px}
.u-section-5 .u-text-2 {margin-right: 9px}
.u-section-5 .u-btn-1 {width: 74px}
.u-section-5 .u-text-3 {margin-right: 9px} }.u-section-6 {min-height: 652px}
.u-section-6 .u-shape-1 {width: calc(((100% - 1140px) / 2) + 1220px); height: 652px; margin: 0 auto 0 0}
.u-section-6 .u-layout-wrap-1 {width: 1140px; margin: -592px auto 0}
.u-section-6 .u-layout-cell-1 {min-height: 503px}
.u-section-6 .u-container-layout-1 {padding-top: 0; padding-bottom: 0}
.u-section-6 .u-text-1 {margin: 103px 20px 0}
.u-section-6 .u-line-1 {width: 43px; transform-origin: left center 0; height: 5px; margin: 20px auto 0 20px}
.u-section-6 .u-text-2 {margin: 30px 20px 0}
.u-section-6 .u-btn-1 {margin: 79px auto 0 21px}
.u-section-6 .u-btn-2 {margin: -42px 46px 0 auto}
.u-section-6 .u-layout-cell-2 {min-height: 503px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-layout-wrap-2 {width: 685px; margin: -503px calc(((100% - 1140px) / 2)) 60px auto}
.u-section-6 .u-layout-cell-3 {min-height: 252px}
.u-section-6 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-6 .u-icon-1 {height: 56px; width: 56px; margin: 0 auto}
.u-section-6 .u-text-3 {margin: 20px 20px 0}
.u-section-6 .u-text-4 {font-style: italic; margin: 20px 20px 0}
.u-section-6 .u-layout-cell-4 {min-height: 252px}
.u-section-6 .u-container-layout-4 {padding-left: 0; padding-right: 0}
.u-section-6 .u-icon-2 {height: 56px; width: 56px; margin: 51px auto 0}
.u-section-6 .u-text-5 {margin: 15px 20px 0}
.u-section-6 .u-text-6 {font-style: italic; margin: 10px 20px 0}
.u-section-6 .u-layout-cell-5 {min-height: 252px}
.u-section-6 .u-container-layout-5 {padding-left: 0; padding-right: 0}
.u-section-6 .u-icon-3 {height: 56px; width: 56px; margin: 37px auto 0}
.u-section-6 .u-text-7 {margin: 20px 20px 0}
.u-section-6 .u-text-8 {font-style: italic; margin: 20px 20px 0}
.u-section-6 .u-layout-cell-6 {min-height: 252px}
.u-section-6 .u-container-layout-6 {padding-left: 0; padding-right: 0}
.u-section-6 .u-icon-4 {height: 56px; width: 56px; margin: 25px auto 0}
.u-section-6 .u-text-9 {margin: 20px 20px 0}
.u-section-6 .u-text-10 {font-style: italic; margin: 20px 20px 25px} 

@media (max-width: 1199px){ .u-section-6 {min-height: 500px}
.u-section-6 .u-shape-1 {width: calc(((100% - 940px) / 2) + 940px); left: 0; right: auto}
.u-section-6 .u-layout-wrap-1 {position: relative; min-height: 260px; width: 940px}
.u-section-6 .u-layout-cell-1 {min-height: 415px}
.u-section-6 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-line-1 {width: 35px; position: relative; margin-left: 16px}
.u-section-6 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-btn-1 {position: relative; margin-left: 16px}
.u-section-6 .u-btn-2 {margin-right: 0}
.u-section-6 .u-layout-cell-2 {min-height: 415px}
.u-section-6 .u-layout-wrap-2 {margin-right: calc(((100% - 940px) / 2))}
.u-section-6 .u-layout-cell-3 {min-height: 267px}
.u-section-6 .u-icon-1 {height: 46px; width: 46px; position: relative}
.u-section-6 .u-text-3 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-text-4 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-icon-2 {height: 46px; width: 46px; position: relative}
.u-section-6 .u-text-5 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-text-6 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-icon-3 {height: 46px; width: 46px; position: relative}
.u-section-6 .u-text-7 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-text-8 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-icon-4 {height: 46px; width: 46px; position: relative}
.u-section-6 .u-text-9 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-text-10 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-6 .u-shape-1 {width: calc(((100% - 720px) / 2) + 720px)}
.u-section-6 .u-layout-wrap-1 {width: 720px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-line-1 {width: 27px; margin-left: 13px}
.u-section-6 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-btn-1 {margin-left: 13px}
.u-section-6 .u-layout-cell-2 {min-height: 318px}
.u-section-6 .u-layout-wrap-2 {margin-right: calc(((100% - 720px) / 2))}
.u-section-6 .u-icon-1 {height: 35px; width: 35px}
.u-section-6 .u-text-3 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-text-4 {margin-left: 12px; margin-right: 12px}
.u-section-6 .u-layout-cell-4 {min-height: 267px}
.u-section-6 .u-icon-2 {height: 35px; width: 35px}
.u-section-6 .u-text-5 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-text-6 {margin-left: 12px; margin-right: 12px}
.u-section-6 .u-layout-cell-5 {min-height: 267px}
.u-section-6 .u-icon-3 {height: 35px; width: 35px}
.u-section-6 .u-text-7 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-text-8 {margin-left: 12px; margin-right: 12px}
.u-section-6 .u-layout-cell-6 {min-height: 267px}
.u-section-6 .u-icon-4 {height: 35px; width: 35px}
.u-section-6 .u-text-9 {margin-left: 13px; margin-right: 13px}
.u-section-6 .u-text-10 {margin-left: 12px; margin-right: 12px} }

@media (max-width: 767px){ .u-section-6 .u-shape-1 {width: calc(((100% - 540px) / 2) + 540px)}
.u-section-6 .u-layout-wrap-1 {min-height: 387px; width: 540px}
.u-section-6 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-line-1 {width: 25px; margin-left: 9px}
.u-section-6 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-btn-1 {margin-left: 9px}
.u-section-6 .u-layout-cell-2 {min-height: 398px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-layout-wrap-2 {width: 540px; margin-right: calc(((100% - 540px) / 2))}
.u-section-6 .u-icon-1 {height: 33px; width: 33px}
.u-section-6 .u-text-3 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-4 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-icon-2 {height: 33px; width: 33px}
.u-section-6 .u-text-5 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-6 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-icon-3 {height: 33px; width: 33px}
.u-section-6 .u-text-7 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-8 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-icon-4 {height: 33px; width: 33px}
.u-section-6 .u-text-9 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-10 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-6 .u-shape-1 {width: calc(((100% - 340px) / 2) + 340px)}
.u-section-6 .u-layout-wrap-1 {min-height: 246px; width: 340px}
.u-section-6 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-line-1 {width: 21px; margin-left: 6px}
.u-section-6 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-btn-1 {margin-left: 6px}
.u-section-6 .u-layout-cell-2 {min-height: 300px}
.u-section-6 .u-layout-wrap-2 {width: 340px; margin-right: calc(((100% - 340px) / 2))}
.u-section-6 .u-icon-1 {height: 28px; width: 28px}
.u-section-6 .u-text-3 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-4 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-icon-2 {height: 28px; width: 28px}
.u-section-6 .u-text-5 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-6 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-icon-3 {height: 28px; width: 28px}
.u-section-6 .u-text-7 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-8 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-icon-4 {height: 28px; width: 28px}
.u-section-6 .u-text-9 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-10 {margin-left: 6px; margin-right: 6px} }